<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GiftcardSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="GiftcardSoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="GiftcardSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://ps1.merchantware.net/Merchantware/ws/ExtensionServices/v45/Giftcard.asmx"
                binding="basicHttpBinding" bindingConfiguration="GiftcardSoap"
                contract="MWGift45.GiftcardSoap" name="GiftcardSoap" />
                    </client>
    </system.serviceModel>
</configuration>